:root{
    --main-brand-color: #BE684B;
    --primary-color: #FEFBEC;
    --secondary-color: #C8D0CC;
    --dark-secondary-color: #4B5852;
    --text-color: #2F3733;
    --secondary-text-color: #5E6E67;
}
*{
    margin: 0;
    padding: 0;
}
body{
    min-height: 100vh;
    background-color: var(--primary-color);
    font-family: verdana ,sans-serif, Arial;
    font-size: 20px;
    color: var(--text-color);
}
h1{
    font-size: 60px;
    line-height: 115%;  
}
h2{
    font-size: 50px;
    line-height: 115%;
}
.subheading{
    margin-top: 25px;
    color: var(--secondary-text-color); 
}
@media(max-width: 800px){
    h1{
        font-size: 12vw;
        text-align: center;
    }
    h2{
        font-size: 5vw;
        text-align: center;
    }
    .subheading{
        text-align: center;
    }
    nav ul{
        height: min-content;
        width: 100%;
        background: var(--background-color);
      }
}